* {
margin: 0rem;
padding: 0rem;
box-sizing: border-box;
}

html {
font-size: 1px;
}
body {
font-family: "Roboto", sans-serif;
}

body.no-scroll {
overflow: hidden;
}
h1 {
font-style: normal;
font-weight: 900;
font-size: 42rem;
line-height: 52rem;
color: #212121;
}
h2 {
font-style: normal;
font-weight: 600;
font-size: 28rem;
line-height: 36rem;
color: #212121;
}
h3 {
font-style: normal;
font-weight: 600;
font-size: 20rem;
line-height: 24rem;
color: #212121;
}


p {
font-style: normal;
font-weight: 400;
font-size: 16rem;
line-height: 24rem;

color: #212121;
}
.header {
max-width: 1512rem;  /* Ограничиваем шапку 1512 пикселями */
margin: 0 auto;   
}

.site-main {
max-width: 1192rem;  /* Ограничиваем основной контент 1192 пикселями */
margin: 0 auto;    
padding: 0 28rem 0 28rem;
}


.hr2_2 {display: none;}

.max-width-container {
margin: 0rem auto;
padding: 0 0 122rem 0;
}




.navbar-container {
display: flex;
flex-direction: column;
}
.navbar {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10rem 20rem;
flex-wrap: nowrap;

}
.logo {
margin-top:6rem;
}

.actions {
display: flex;
justify-content: flex-end;
gap: 10rem;
align-items: center;
margin-left: auto;
font-size: 14rem;
}
.actions a {
margin-left: 15rem;
text-decoration: none;
color: black;
white-space: nowrap;

display: inline-flex;   
align-items: center;     
gap: 8rem; 
}
.signup {
background: #00798a;
color: #fff!important;
padding: 8rem 15rem;
border-radius: 5rem;
}






.filters {
display: flex;
gap: 10rem;
margin-bottom: 20rem;
padding: 28rem 0 6rem 0;
}
.filter-box {
background: #f4f7f8;
border-radius: 20px;
padding: 10rem 15rem;
display: flex;
align-items: center;
}
select {
border: none;
background: transparent;
font-size: 16rem;
padding: 5rem;
outline: none;
}



/* 
Контейнер с карточками
Grid из 4 колонок
*/
#eventsMain, #onlineEvents {
display: grid;
grid-template-columns: repeat(4, 1fr); /* 4 колонки равной ширины */
gap: 20rem;                             /* отступ между карточками */

margin: 0 auto;                       /* центрируем по горизонтали */
padding: 20rem;                        /* отступы вокруг */
}
/* Стили для самой карточки */
.event {
padding: 10rem;
background-color: #fff;
margin-bottom: 10rem;
}

.event p, .event span {
font-size: 14rem;
color: #444;
margin: 10rem 0 0 0;
}




/* онлайн на картинке */
.event-card {
border: 1px solid #ccc;
padding: 16rem;
border-radius: 4px;
}

/* Обёртка для картинки, чтобы позиционировать надпись */
.image-wrapper {
position: relative; 
width: 100%;
height: auto;  
}

.image-wrapper img {
display: block;
max-width: 100%;
height: auto;
margin: 0 16rem 16rem 0;
}

/* Метка "ONLINE" */
.online-label {
position: absolute;
top: 8rem;
left: 8rem;
background: #fff;
padding: 4rem 8rem;
font-weight: 500;
border-radius: 4px;
}
#video {
width: 13rem;
height: 10rem;
}
.icon_small_cards {
display: flex;
justify-content: flex-end;
gap: 3rem;
align-items: center;
margin-top: -14rem;
}


.card-footer-span {
display: flex;           
align-items: center;     
gap: 16rem;              

}

.icon_small_cards img {
vertical-align: middle;  

}
#event-category {
font-size: 12rem;
}







/* 
Контейнер "Join Meetup"
*/
.join-meetup {
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgba(151, 202, 209, 0.08); 
padding: 2rem;
border-radius: 8px;

margin: 2rem auto; 
}
.join-meetup-left {
flex: 1;
max-width: 600rem;
margin: 0 0 0 56rem;
}


.sign-up-btn {
background-color: #E32359; 
color: #fff;
border: none;
padding: 8rem 45rem;
cursor: pointer;
border-radius: 4px;

}
.join-meetup-left p {
margin: 20rem 0 20rem 0;
}
.join-meetup-right {
/* flex: 1; */
display: flex;
justify-content: flex-end;
}
.join-meetup-right img {
max-width: 341rem;  
height: auto;
display: block;
margin: 36rem 56rem;
}



/* Блок категорий в строку */
.categories {
display: flex;
flex-wrap: wrap;       /* чтобы переносились на новую строку, если не влазят */
gap: 1rem;

margin: 0 auto 2rem;  
padding: 0 2rem;
justify-content: center;
}
.category-card {
margin: 4rem 4rem 0 0;
width: 135rem;
height: 112rem;
background-color: rgba(151, 202, 209, 0.08); 
border-radius: 6px;
text-align: center;
padding: 28rem;
display: flex;
flex-direction: column;
align-items: center;
}
.category-card img {
width: 20rem;
height: 20rem;
margin-bottom: 15rem;
}
.category-card p {

font-size: 14rem;
line-height: 20rem;
font-weight: 500;
}







/* Контейнер формы поиска */
.search-container {
width: 592rem;
margin: 20rem 0 20rem 40rem;
padding: 0 20rem;
}


.search-form {
display: flex;
align-items: center;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
overflow: hidden;
height: 42rem;

}

/* Иконка слева (лупа внутри поля) */
.search-icon {
display: inline-block;
width: 20rem;
height: 20rem;
margin-left: 12rem;
background: url('../img/banner/searchgrey.svg') no-repeat center;
background-size: contain;
}

/* Поля ввода */
.search-input,
.location-input {
flex: 1 1 auto;
font-size: 16rem;
padding: 12rem;
border: none;     
outline: none;
}

/* Разделитель между полями (для десктопа) */
.location-input {
border-left: 1px solid #eee;
}

/* Кнопка поиска */
.search-btn {
background-color: #00798A; 
font-size: 16rem;
color: #fff;
border: none;
padding: 12rem 16rem;
cursor: pointer;
font-size: 16rem;
display: flex;     
align-items: center;
justify-content: center;

}

/* Hover-эффект на кнопку */
.search-btn:hover {
background-color: #fa6666;
}
.search-btn img {
width: 20rem; 
height: 20rem;

}








.header__information {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 42rem;
}

.header__information-title {
width: 100%;
margin-bottom: 47rem;
}

.header__information-text {
width: 70%;
max-width: 600.61rem;
display: flex;
flex-direction: column;
gap: 24rem;
}

.header__information-label {
width: 30%;
max-width: 379rem;

}

.header__information-label img {
width: 100%;
}

.header__information-paragraphs {
display: flex;
flex-direction: column;
gap: 22rem;


}

.header__information-paragraphs p {
font-style: normal;
font-weight: 500;
font-size: 20rem;
line-height: 34rem;
color: rgb(33, 37, 41);
}
/*button classes*/
.button {
background: rgb(50, 50, 50);
padding: 20.5rem 36rem;
font-style: normal;
font-weight: 800;
font-size: 19.5rem;
display: inline-flex;
align-items: center;
text-align: center;
text-transform: uppercase;
justify-content: center;
color: rgb(255, 255, 255);
letter-spacing: 1rem;
cursor: pointer;
border: 0;
text-decoration: none;
transition: all 400ms;
}

.button:hover {
background-color: rgb(255, 60, 0);
color: #FFF;
}

.button[disabled] {
cursor: default;
pointer-events: none;
opacity: 0.2;
}

/*End button classes*/

/*linkbutton classes*/
.linkbutton {
background: #00798a;
padding: 12rem 16rem;
font-style: normal;
font-weight: 500;
font-size: 16rem;
border-radius: 8px;
color: #fff;
letter-spacing: 1rem;
text-decoration: none;
transition: all 400ms;
}

.linkbutton:hover,
.linkbutton.linkbutton--bg-white:hover {
background-color: #fa6666;
color: #FFF;
}

.linkbutton.linkbutton--size-big {
font-size: 22.5rem;
padding: 29rem 49rem;
}

.linkbutton.linkbutton--size-small {
font-weight: 800;
font-size: 13.5rem;
padding: 18rem 31rem;
}

.linkbutton.linkbutton--bg-white {
background-color: #FFF;
color: #323232;
}

/*End linkbutton classes*/







.events-header2 {
display: flex;
justify-content: space-between; 
align-items: center;          
margin-bottom: 1rem;           
}

.events-header-left2 {
display: inline-flex;          
align-items: center;
gap: 50rem;                  
}



/* Оформление плашки локации */
.location-badge2 {
display: inline-flex;
align-items: center;
gap: 25rem;              
padding: 10rem 16rem;     
background-color: rgba(151, 202, 209, 0.12);    
border-radius: 4px;           
}

.location-text2 {
font-size: 20rem;
line-height: 24rem;
font-weight: 600;
color: #00798a;               
}

.edit-icon2 {
width: 16rem;                 
height: 16rem;
}

/* Ссылка «See all events» */
.see-all2 {
text-decoration: none;      
color: #00798a;              
font-weight: 600;
font-size: 16rem;
line-height: 24rem;

}

.see-all2:hover {
text-decoration: underline;    
}











@media (max-width: 1024px) {

#eventsMain, #onlineEvents {
display: grid;
grid-template-columns: repeat(3, 1fr); 
gap: 20rem;                            
max-width: 1024rem;                    
margin: 0 auto;                       
padding: 20rem;                       
}

html {
font-size: 0.8px;
}

.max-width-container {
padding: 0 0 92rem 0;
}

.header__information-label {
margin-top: 0rem;
}
.navbar {
display: flex;
justify-content: flex-start;
align-items: center;
}

.actions a {
margin-left: 15rem;
text-decoration: none;
color: black;
white-space: nowrap;  
}








/* Делаем форму в одну линию, но прячем поле локации */
.location-input {
display: none;
}
/* Увеличить поле поиска на всю ширину (flex: 1) */
.search-input {
flex: 1;
}


.join-meetup {
flex-direction: column;
text-align: center;
}
.join-meetup-left {
margin-right: 20rem;
max-width: 100%;
padding: 30rem 20rem 0 0;
}
.join-meetup-right {
justify-content: center;
margin-top: 1rem;
}     


}

@media (max-width: 768px) {

.max-width-container {
padding: 0 0 52rem 0;
}







#eventsMain, #onlineEvents {
display: grid;
grid-template-columns: repeat(2, 1fr); 
gap: 20rem;                            
max-width: 768rem;                   
margin: 0 auto;                     
padding: 20rem;  
}                    

h1 {
font-size: 50rem;
line-height: 60rem;
}
h2 {
font-size: 36rem;
line-height: 40rem;
}
h3 {
font-size: 18rem;
line-height: 20rem;
}

.header {
max-width: 768rem;
display: flex;
justify-content: center; 
align-items: center;
padding: 10rem 20rem;
}


.header__information-label {
width: 100%;
max-width: 162rem;
margin-top: 0rem;
margin-bottom: 35rem;
order: 3;
}

.header__information-text {
padding-right: 0rem;
width: 100%;
max-width: 100%;
order: 1;
}
.header__information-button {
display: none;
}



.navbar-container {

display: flex;
flex-direction: column;
align-items: center;
}





.navbar {
display: flex;

flex-direction: row !important;  
flex-wrap: wrap;
align-items: center; 
padding: 0;
}

.logo {
order: 1;
}

.actions {
order: 2;
margin-left: auto;
}

.search-container {
order: 3;
width: 100%;
margin: 18rem 0 0 0; 
}

/* Форма в одну линию, но прячем поле локации */
.location-input {
display: none;
}
/* Увеличить поле поиска на всю ширину (flex: 1) */
.search-input {
flex: 1;
}

.header__information-label img {
  width: 180%;
max-width: none;
margin-left: -40%;
}
.footer-column.store-buttons {
display: none;
}



/* Оформление плашки локации */

.location-text2 {
font-size: 16rem;
}

/* Ссылка «See all events» */
.see-all2 {
display: none;

}
.events-header-left2 {
gap: 20rem;
}
.location-badge2 {
gap: 2rem;
padding: 10rem 10rem;

}

h1 {
font-size: 25rem;
line-height: 31rem;
}
h2 {
font-size: 20rem;
line-height: 24rem;

}  
}

@media (max-width: 398px) {
.event {
display: flex;
align-items: flex-start;
border-top: 1px solid #ccc;
padding: 12rem 0 10rem 0;
}
.image-wrapper {
flex: 0 0 96px;  
margin-right: 1rem;
position: relative;
}
.image-wrapper img {

width: 96px;
height: auto;
}
.event-details {
flex: 1;
}



#eventsMain div.event:nth-of-type(n+4),
#onlineEvents div.event:nth-of-type(n+4) {
display: none;
}


.event-details {
display: flex;
flex-direction: column;
margin-left: 12rem;
}
/* Задаём нужный порядок элементов */
.formattedDate-block { order: 1; }
.title-block       { order: 2; }
.category-block    { order: 3; }
.type-block        { order: 4; }
.attendees-block   { order: 5; }


.card-footer-span {
margin: 0.5rem 0;
}
.chek2, .calen, #tick2, .attend2 {
display: none;
}
.attendees-block {
padding-top: 30rem;
}
.hr2_2 {
display: block;
border: none;
height: 1px;
background-color: #D9D9D9;
}


.friend-card:last-child {
flex: 0 0 calc(100% - 10rem) !important;
max-width: calc(100% - 10rem); 
}


.header__information {
margin-top: 40rem;
margin-bottom: 20rem;
}

.header__information-paragraphs p {
font-size: 12rem;
line-height: 22rem;

}




.location-input {
display: none;
}

.search-input {
flex: 1;
}




.navbar {
display: flex;

flex-direction: row !important;  
flex-wrap: wrap;
align-items: center; 
padding: 0;
}

.logo {
order: 1;
}

.actions {
order: 2;
margin-left: auto;
}

.search-container {
order: 3;
width: 100%;
margin: 18rem 0 0 0;
}





h1 {
font-size: 25rem;
line-height: 31rem;
}
h2 {
font-size: 20rem;
line-height: 24rem;

} 

h3 {
font-size: 14rem;
line-height: 18rem;
margin: 8rem 0 0 0; 
}

.site-main {
max-width: 398rem;
margin: 0;
padding: 0 16rem 0 16rem;
}


.event p, .event span {
margin: 0;
}

#eventsMain, #onlineEvents {
display: grid;
grid-template-columns: repeat(1, 1fr); 
gap: 20rem;                            
max-width: 398rem;                  
margin: 0 auto;                      
padding: 20rem 0 20rem 0;                      
}


.online-label.desktop {
display: none;
}
.online-label.mobile {
display: none;
}
}





















/* ===================================
Популярные города
=================================== */
.popular-cities {

margin: 0 auto 20rem;
}

.popular-cities .subtitle {

color: #666;
margin-bottom: 15rem;
}

/* Сетка для городов */
.cities-grid {
display: flex;
flex-wrap: wrap;     /* перенос на новую строку */
gap: 20rem;           
justify-content: center; 
}

/* Карточка города */
.city-card {
display: flex;
flex-direction: column;
align-items: center;
width: 205rem;       
text-align: center;
}
.city-card img {
width: 205rem;
height: 205rem;
object-fit: cover;  /* обрезать/масштабировать */
border-radius: 50%; 
margin-bottom: 5rem;
}
.city-card h4 {
font-size: 20rem;
margin-top: 25rem;
}

/* ===================================
2. How Meetup works
=================================== */
.how-it-works {

margin: 20rem auto;
}


/* Две карточки рядом на десктопе */
.info-cards {
display: flex;
gap: 10rem; 
justify-content: center;
}

/* Карточка-инструкция */
.info-card {
flex: 1 1 0px;       
background-color: rgba(151, 202, 209, 0.08); 
border-radius: 6px;
padding: 30rem;
text-align: left;
}
.info-card .icon-area {
margin-bottom: 5rem;
}
.info-card img {
width: 40rem; 
height: 40rem;
float: left;
margin-right: 15rem;
max-width: 50%;
height: auto;


}

.info-card p {
font-size: 16rem;
margin-bottom: 7.5rem;
color: #555;
}
.info-card a {
color: #00798a;  
text-decoration: none;
font-weight: 600;
font-size: 16rem;
}
.info-card a:hover {
text-decoration: underline;
}

/* ===================================
Адаптивные стили
=================================== */
@media (max-width: 768px) {
/* Городские карточки 3 в ряд */
.city-card {
width: 30%;
min-width: 140rem; 
}

.city-card img {
width: 153rem;
height: 153rem;

}
.city-card h4 {
font-size: 15rem;
margin-top: 25rem;
}



/* Инфокарточки стекаются */
.info-cards {
flex-direction: column;
align-items: stretch;
}
}
@media (max-width: 480px) {
/* Городские карточки 2 в ряд */
.city-card {
width: 45%;
}
}












/* =====================
Заголовки и подзаголовки
===================== */

.intro-subtitle {

color: #666;
margin-bottom: 15rem;
max-width: 700rem; 
}

/* =====================
Секция карточек
===================== */
.friends-cards {
/* Способ 1: Flex */
display: flex;
flex-wrap: wrap;   
gap: 10rem;       


}

/* Оформление карточки */
.friend-card {
flex: 1 1 calc(33.333% - 10rem); /* 3 в ряд при наличии места */
min-width: 214rem;
background-color: #fff;
border-radius: 4px;
overflow: hidden;    

padding: 20rem 0 10rem 0;
display: flex;       
flex-direction: column;
}

.friend-card img {
width: 100%;
height: auto;
border-radius: 4px;
margin-bottom: 26rem;
object-fit: cover;  
}



.friend-card p {

flex: 1;      
color: #555;
margin-bottom: 5rem;
line-height: 24rem;
margin: 14rem 0 14rem 0;
}

.friend-card a {
font-size: 14rem;
font-weight: 500;
color: #00798a;
text-decoration: none;
margin-top: auto; 
}

.friend-card a:hover {
text-decoration: underline;
}

/* =====================
Адаптив
===================== */

@media (max-width: 768px) {
.friend-card {
flex: 1 1 calc(50% - 10rem); 

margin-bottom: 10rem; 
}
.friend-card:last-child {
flex: 0 0 calc(50% - 10rem) !important;
max-width: calc(50% - 10rem);
}




}







.block_content_h2 {
margin: 40rem 0 0 0;
}
.mar_bot_h2 {
margin-bottom: 16rem;
}










.footer {
max-width: 1512rem;
margin: 0 auto;
padding: 20rem;
background-color: #212121;
color: #fff;
}


.footer-top {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20rem;


flex-wrap: wrap;
border-bottom: 1px solid #444;
padding-top: 10rem;
}
.footer-top button {
background: #212121;
color: #fff;
border: 2px solid #ffffff;
border-radius:4px;
padding: 8rem 16rem;
cursor: pointer;
font-weight: bold;
margin-bottom: 20rem;
}

.footer-middle {
display: block;
margin-bottom: 20rem;
}

/* Левая часть (3 колонки) */
.footer-left {
display: flex;
gap: 30rem; 
margin-bottom: 20rem;
}
.footer-left .footer-column {

min-width: 25%;
}

.footer-column h3 {
margin-bottom: 10rem;
font-size: 16rem;
color: #fff;
}
.footer a, .footer span {
color: #fff;
text-decoration: none;
display: block;
margin: 5rem 0;
font-size: 14rem;
}

/* Блок ниже Follow us и кнопки магазинов */
.footer-right {
display: flex;

gap: 20rem;

justify-content: space-between;
align-items: center;
}
.social-icons {
display: flex;
gap: 32rem;
}
.social-icons img {
width: 30rem;
height: 30rem;
}
.store-buttons img {
width: 140rem;
height: 40rem;
}

/* Нижняя часть (копирайт и ссылки) */
.footer-bottom {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
border-top: 1px solid #444;
padding-top: 10rem;
}
.footer-bottom p, .footer-top p {
color:#fff;
margin-bottom: 10rem;
}
.footer-bottom-links {
display: flex;
flex-wrap: wrap;
gap: 15rem;
}
.footer-bottom-links a {
white-space: nowrap;
}


@media (max-width: 768px) {

.footer-left {
display: flex;
flex-wrap: nowrap; 
gap: 10rem;
margin-bottom: 20rem;
}
.footer-left .footer-column {
min-width: 0;
flex: 1 1 0;
white-space: normal; /* текст переносится */
}
}

.footer-wrapper {
max-width: 1112rem;
background-color: #212121; 
margin: 0 auto;
}

.step_foot {
margin-top: 100rem;
}

.video_ic {
background-image: url('../img/banner/video.svg');
background-repeat: no-repeat;
background-position: left center;
padding-left: 20rem;
}

